apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab-config
data:
  GITLAB_OMNIBUS_CONFIG: |
    external_url 'https://gitlab.justmael.me'

    gitlab_rails['gitlab_shell_ssh_port'] = 2222
    gitlab_rails['gitlab_ssh_host'] = 'gitlab-ssh.justmael.me'

    letsencrypt['enable'] = false

    nginx['listen_port'] = 80
    nginx['listen_https'] = false

    nginx['proxy_set_headers'] = {
      'X-Forwarded-Proto' => 'https',
      'X-Forwarded-Ssl' => 'on'
    }

    gitlab_rails['time_zone'] = 'Europe/Paris'

    # SMTP Configuration
    gitlab_rails['smtp_enable'] = true
    gitlab_rails['smtp_address'] = "mail.smtp2go.com"
    gitlab_rails['smtp_port'] = 2525
    gitlab_rails['smtp_user_name'] = "dev-area"
    gitlab_rails['smtp_password'] = "o3uvkxKgMR7CMUxO"
    gitlab_rails['smtp_domain'] = "justmael.me"
    gitlab_rails['smtp_authentication'] = "login"
    gitlab_rails['smtp_enable_starttls_auto'] = true
    gitlab_rails['smtp_tls'] = false

    # Email settings
    gitlab_rails['gitlab_email_from'] = 'gitlab@justmael.me'
    gitlab_rails['gitlab_email_reply_to'] = 'gitlab@justmael.me'
