apiVersion: v1
kind: ConfigMap
metadata:
  name: smb-config
data:
  smb.conf: |
    [global]
    workgroup = WORKGROUP
    server string = Time Machine Server
    security = user
    map to guest = Bad User
    log level = 1
    
    # Performance optimizations
    socket options = TCP_NODELAY IPTOS_LOWDELAY SO_RCVBUF=65536 SO_SNDBUF=65536
    read raw = yes
    write raw = yes
    max xmit = 65535
    
    # macOS optimizations
    vfs objects = catia fruit streams_xattr
    fruit:metadata = stream
    fruit:model = MacSamba
    fruit:posix_rename = yes
    fruit:veto_appledouble = no
    fruit:nfs_aces = no
    fruit:wipe_intentionally_left_blank_rfork = yes
    fruit:delete_empty_adfiles = yes
    
    [timemachine]
    comment = Time Machine Backups
    path = /data/timemachine
    valid users = timemachine
    read only = no
    create mask = 0600
    directory mask = 0700
    fruit:time machine = yes
    fruit:time machine max size = 200G
