apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab-runner-config
  namespace: default
data:
  config.template.toml: |
    concurrent = 10
    check_interval = 3
    log_level = "info"

    [session_server]
      session_timeout = 1800

    [[runners]]
      name = "Kubernetes Runner"
      url = "https://gitlab.justmael.me"
      token = "__RUNNER_TOKEN__"
      executor = "kubernetes"
      
      [runners.kubernetes]
        namespace = "default"
        image = "ubuntu:22.04"
        privileged = false
        pull_policy = ["if-not-present"]
        
        # Limites de ressources pour les builds
        cpu_limit = "1"
        memory_limit = "1Gi"
        service_cpu_limit = "200m"
        service_memory_limit = "256Mi"
        helper_cpu_limit = "200m"
        helper_memory_limit = "256Mi"
        
        # Configuration du pod helper
        [runners.kubernetes.pod_labels]
          "gitlab-runner" = "true"
